body{
    background-image: url("images/Black.jpg");
}
p{
    font-family: cursive;
}
h1{
    font-family: cursive;
}
#center{
    text-align:center;
}
h2{
    font-family: cursive
}
p {
  font-size: 22px;
}